h1 {
    font-size: 48px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
h2 {
    font-size: 36px;
    
}
h3 {
    font-size: 24px;   
}
p {
    margin-block-start: 0px;
    margin-block-end: 0px;    
}
.container {
    display: flex;
    flex-direction: column;
}
/* Top bar */
.header {
    background-color:#0a2b3d;
    display: flex;
    flex-direction: column;
    color: white;
}
.headerbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: 25%;
    margin-right: 25%;
}
#headerlogo {
    margin-right: auto;
}
.headerlinks {
    display: flex;
    align-items: center;
    gap: 15px;
}
.headercontent > * {
    flex: 1 1 0;
}
.headercontent {
    display: flex;
    flex-direction: row;
    flex: 1 0 0;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-evenly center;
}
#image {
    display: flex;
    background-color: grey;
    align-items: center;
    justify-content: center;
}
#signupbutton {
    display: flex;
    background-color: rgb(39, 124, 235);
    max-width: 25%;
    min-height: 30px;
    align-items: center;
    justify-content: center;
    font-size: small;
    border-radius: 5px;
}
/* Random info section */
.randominfo {
    display: flex;
    background-color: white;
    margin-left: 27.5%;
    margin-right: 27.5%;
    margin-bottom: 100px;
    align-items: center;
    flex-direction: column;
}
.imagebar {
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.imagebox {
    border-style: solid;
    border-color: rgb(39, 124, 235);
    aspect-ratio: 1 / 1;
    border-radius: 10px;
}
.imageboxcontainer {
    text-align: center;
}

/* Quote info section */
.quoteinfobackground {
    background-color: lightgray;
}
.quoteinfo {
    display: flex;
    flex-direction: column;
    gap: 0%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.quoteauthor {
    display: flex;
    justify-content: flex-end;
    margin-block-start: 0%;
    font-size: 20px;
    
}
.quote {
    font-weight: lighter;
    font-style: italic;
    font-size: 30px;
}



.signupbanner {
    background-color: white;
}